<div class="content">

  <div class="sidebar">
    <ul class="listview">
      <li *ngFor="let program of programs | sort"
          [ngClass]="{'selected': (program === selectedProgram)}"
          (click)="selectProgram(program)">
        <div class="left">{{ program }}</div>
        <div class="right"><i class="fa spin-slow"
                [ngClass]="{'fa-circle-o-notch': (program === activeProgram)}"></i></div>
      </li>
    </ul>
    <div class="bottom">
      <a class="add-button btn btn-primary d-none d-md-block" style="width: 100%; outline: none;" (click)="openModal(createModalContent)">
        <i class="fa fa-plus"></i>
      </a>
      <a class="btn btn-secondary d-block d-md-none" (click)="runProgram(selectedProgram)">
        <i class="fa fa-play"></i>
      </a>
      <a class="btn btn-secondary d-block d-md-none" (click)="stopProgram()">
        <i class="fa fa-stop"></i>
      </a>
    </div>
  </div>

  <div class="main">
    <div class="toolbar">
      <div class="left">
        <div class="input-group">
          <div class="input-group-addon">Name</div>
          <input type="text"
                 class="form-control"
                 id="inlineFormInputGroup"
                 name="updateName"
                 [(ngModel)]="updateName"
                 value="{{ selectedProgram }}">
        </div>
      </div>

      <div class="right">
        <a class="btn btn-secondary" (click)="runProgram(selectedProgram)">
          <i class="fa fa-play"></i>
        </a>

        <a class="btn btn-secondary" (click)="stopProgram()">
          <i class="fa fa-stop"></i>
        </a>

        <button class="btn btn-primary"
                (click)="saveProgram()"
                data-toggle="tooltip" data-placement="top" title="Save program">
          <i class="fa fa-floppy-o"></i>
        </button>

        <button class="btn btn-danger"
                (click)="openModal(deleteModalContent)">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
    </div>

    <div ace-editor
         [(text)]="code"
         [mode]="'python'"
         [readOnly]="false"
         [theme]="'idle_fingers'"
         [autoUpdateContent]="true"></div>

  </div>
</div>



<!--<div class="dynamic-light-grid">-->
  <!--<div>-->
    <!--<div>-->

      <!--<div>-->
        <!--<ul>-->
        <!--</ul>-->


      <!--</div>-->

      <!--&lt;!&ndash;<div class="card-footer">&ndash;&gt;-->
      <!--<div>-->

      <!--</div>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash;editor-card&ndash;&gt;-->
  <!--<div>-->
    <!--<div>-->

      <!--&lt;!&ndash;header&ndash;&gt;-->
      <!--<div>-->

        <!--<form>-->


          <!--<div>-->


          <!--</div>-->
        <!--</form>-->

      <!--</div>-->

      <!--&lt;!&ndash;content&ndash;&gt;-->
      <!--<div>-->

        <!--editor here-->
      <!--</div>-->

      <!--&lt;!&ndash;TODO: add footer&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<ng-template #createModalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add new program</h4>
  </div>
  <div class="modal-body">

    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Name</div>
      <input type="text"
             class="form-control"
             id="updateName"
             name="newName"
             [(ngModel)]="newName"
             value="{{ selectedProgram }}">
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-primary" (click)="c(); createProgram(newName)">
      <i class="fa fa-floppy-o"></i>
    </button>
  </div>
</ng-template>


<ng-template #deleteModalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete program</h4>
  </div>
  <div class="modal-body">

    <p class="text-danger">
      You are about to delete the program <code>{{ selectedProgram }}</code>.
    </p>

    <p>
      Enter '<code>{{ selectedProgram }}</code>' in the text field below to confirm.
    </p>


    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Name</div>
      <input type="text"
             class="form-control"
             id="deleteName"
             placeholder="Enter program name to delete it"
             name="deleteName"
             [(ngModel)]="deleteName"
             value="">
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-danger"
            [disabled]="deleteName !== selectedProgram"
            (click)="c(); deleteProgram(deleteName)">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</ng-template>
