@import '../../../../colors';

@main-content-height: 77vh;

.dynamic-btn-container {
  padding: 0 !important;
}

.list-group {
  min-height: @main-content-height;
  height: @main-content-height;
  overflow-y: auto;
}

.list-group-item {
  padding: 0 !important;

  border-right: @grey-light 2px solid !important;

  &.selected {
    border-right: @color-primary 2px solid !important;
  }
}

a.btn.btn-secondary {
  color: black;
}

.ace_editor {
  font-size: 10pt;
  width: 100%;
  overflow: auto;
  margin-right: 1em;
}

.sidebar {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;

  border-right: 1px solid black;
}

.content {
  @media @media-sm-down {
    grid-template-columns: auto;
  }

  grid-template-columns: 1fr 3fr;
}

.main {
  display: grid;
  grid-template-rows: 2.5em fit-content(100%);

  @media @media-sm-down {
    display: none;
  }
}

.main > .toolbar {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(2, auto);

  border-bottom: 1px solid black;
}
