@import '../../../../colors';

@main-content-height: 66vh;

.dynamic-btn-container {
  padding: 0 !important;
}

.list-group {
  min-height: @main-content-height;
  height: @main-content-height;
  overflow-y: auto;
}

.list-group-item {
  padding: 0 !important;

  border-right: @grey-light 2px solid !important;

  &.selected {
    border-right: @color-primary 2px solid !important;
  }
}

a.btn.btn-secondary {
  color: black;
}

.ace_editor {
  font-size: 10pt;
  min-height: @main-content-height - .35vh;
  width: 100%;
  overflow: auto;
  margin-right: 1em;
}
