
<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="card">

      <div class="card-block">
        <ul class="list-group list-group-flush">
          <li *ngFor="let program of programs"
              class="list-group-item"
              [ngClass]="{'selected': (program === selectedProgram)}"
              (click)="selectProgram(program)">

            <div class="p-2">{{ program }}</div>
            <div class="ml-auto p-2">
              <i class="fa float-right spin-slow"
                 [ngClass]="{'fa-circle-o-notch': (program === activeProgram)}"></i>
            </div>

          </li>
        </ul>


      </div>

      <!--<div class="card-footer">-->
        <div class="row" style="margin: 0;">
          <a class="btn btn-primary col-md-12 d-none d-md-block" style="width: 100%; outline: none;" (click)="openModal(createModalContent)">
            <i class="fa fa-plus"></i>
          </a>

          <a class="btn btn-secondary col-xs-6 d-block d-md-none" (click)="runProgram(selectedProgram)">
            <i class="fa fa-play"></i>
          </a>

          <a class="btn btn-secondary col-xs-6 d-block d-md-none" (click)="stopProgram()">
            <i class="fa fa-stop"></i>
          </a>
        </div>
      <!--</div>-->

    </div>
  </div>

  <!--editor-card-->
  <div class="col-md-8 d-none d-md-block">
    <div class="card">

      <!--header-->
      <div class="card-header">

        <form class="form-inline">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Name</div>
            <input type="text"
                   class="form-control"
                   id="inlineFormInputGroup"
                   name="updateName"
                   [(ngModel)]="updateName"
                   value="{{ selectedProgram }}">
          </div>

          <div style="position: absolute; right: 1px;">

            <a class="btn btn-secondary" (click)="runProgram(selectedProgram)">
              <i class="fa fa-play"></i>
            </a>

            <a class="btn btn-secondary" (click)="stopProgram()">
              <i class="fa fa-stop"></i>
            </a>

            <button class="btn btn-primary"
                    (click)="saveProgram()"
                    data-toggle="tooltip" data-placement="top" title="Save program">
              <i class="fa fa-floppy-o"></i>
            </button>

            <button class="btn btn-danger"
                    (click)="openModal(deleteModalContent)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </form>

      </div>

      <!--content-->
      <div class="card-block">
        <div ace-editor
             [(text)]="code"
             [mode]="'python'"
             [readOnly]="false"
             [theme]="'idle_fingers'"
             [autoUpdateContent]="true"></div>
      </div>

      <!--TODO: add footer-->

    </div>
  </div>
</div>

<ng-template #createModalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add new program</h4>
  </div>
  <div class="modal-body">

    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Name</div>
      <input type="text"
             class="form-control"
             id="updateName"
             name="newName"
             [(ngModel)]="newName"
             value="{{ selectedProgram }}">
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-primary" (click)="c(); createProgram(newName)">
      <i class="fa fa-floppy-o"></i>
    </button>
  </div>
</ng-template>


<ng-template #deleteModalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Delete program</h4>
  </div>
  <div class="modal-body">

    <p class="text-danger">
      You are about to delete the program <code>{{ selectedProgram }}</code>.
    </p>

    <p>
      Enter '<code>{{ selectedProgram }}</code>' in the text field below to confirm.
    </p>


    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon">Name</div>
      <input type="text"
             class="form-control"
             id="deleteName"
             placeholder="Enter program name to delete it"
             name="deleteName"
             [(ngModel)]="deleteName"
             value="">
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">
      <i class="fa fa-times"></i>
    </button>
    <button class="btn btn-danger"
            [disabled]="deleteName !== selectedProgram"
            (click)="c(); deleteProgram(deleteName)">
      <i class="fa fa-trash-o"></i>
    </button>
  </div>
</ng-template>
