<div class="row">
  <h1>Led strip control</h1>
</div>

<hr/>

<div *ngIf="!isAmbilightActive">
  <div class="row">
    <h3>Static color control</h3>
  </div>
  <div *ngFor="let device of devices" class="form-group row" style="margin-top: 1em;">
    <label for="{{ device.id }}" class="col-2 col-form-label">{{ device.description }}</label>

    <div class="col-8">
      <input  class="form-control"
              id="{{ device.id }}"
              [(colorPicker)]="device.color"
              [style.background]="device.color"
              [value]="device.color"
              (colorPickerChange)="switchColor(device.id)"/>
    </div>
  </div>
</div>

<div class="row">
  <h3>Dynamic color control</h3>
</div>

<div class="row">
  <button (click)="loadCode()">Load</button>
</div>
<div class="row">
  <div ace-editor
   [(text)]="code"
  [mode]="'javascript'"
  [readOnly]="false"
  [autoUpdateContent]="true"
  style="font-size: 13pt; min-height: 400px; width:100%; overflow: auto;"></div>
</div>
