<ul class="nav nav-tabs" style="margin-bottom: 2em;">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active: !dynamic}" (click)="dynamic=false;">static</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{active: dynamic}" (click)="dynamic=true;">dynamic</a>
  </li>
</ul>

<!-- static -->
<div *ngIf="!dynamic">
  <div *ngFor="let device of devices" class="form-group row" style="margin-top: 1em;">

    <div class="col-12">
      <input  class="form-control"
              readonly="readonly"
              id="{{ device.id }}"
              [cpAlphaChannel]="'disabled'"
              [(colorPicker)]="device.color"
              [style.background]="device.color"
              [value]="device.description"
              (colorPickerChange)="switchColor(device.id)"/>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-6">
      <button style="margin: 0; width: 100%;" class="btn btn-secondary" (click)="allOn();">on</button>
    </div>

    <div class="col-6">
      <button style="margin: 0; width: 100%;" class="btn btn-secondary" (click)="allOff();">off</button>
    </div>
  </div>
</div>

<!-- dynamic -->
<div *ngIf="dynamic">
  <div class="form-group row">
    <label for="program" class="col-2 col-form-label">Preset</label>

    <select class="col-8" name="program" id="program" [(ngModel)]="activeProgram" (change)="changeProgram(activeProgram)">
      <option></option>
      <option *ngFor="let program of programs">{{ program }}</option>
    </select>
  </div>

  <div class="row">
    <div ace-editor
    [(text)]="code"
    [mode]="'python'"
    [readOnly]="false"
    [autoUpdateContent]="true"
    style="font-size: 13pt; min-height: 30vh; width:100%; overflow: auto;"></div>
  </div>

  <div class="row" style="margin-top: 1em;">
    <button class="btn btn-primary" (click)="saveProgram()">save</button>
  </div>

</div>


