<div class="row">
  <div class="col-12">
    <button style="margin: 0; width: 100%;" class="btn btn-secondary" (click)="toggleLights();">toggle main lights
    </button>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <button style="margin: 0; width: 100%;" class="btn btn-secondary" (click)="incBrightness();">+</button>
  </div>
  <div class="col-6">
    <button style="margin: 0; width: 100%;" class="btn btn-secondary" (click)="decBrightness();">-</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <button style="margin: 0; width: 100%;" class="btn btn-secondary" (click)="switchHue();">change color
      temperature
    </button>
  </div>
</div>
