<div class="wrapper">
  <nav class="navbar">
    <a class="navbar-brand">
      <img src="/assets/img/nuclear.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      bunker<span style="color: #666; font-weight: bold;">ctl</span>
    </a>
    <div class="nav-links">
      <a routerLink="light/static" routerLinkActive="active" *ngIf="endpoints.rgb">static</a>
      <a routerLink="light/dynamic" routerLinkActive="active" *ngIf="endpoints.rgbRealtime">dynamic</a>
      <a routerLink="light/tradfri" routerLinkActive="active" *ngIf="endpoints.tradfri">tradfri</a>
      <a routerLink="piweather"     routerLinkActive="active" *ngIf="endpoints.piweather">piweather</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div><!-- /.container -->
