@color-primary: #fc0;
@color-palette-main: #454545;

@color-primary-light: lighten(@color-primary, 15%);

@grey-super-extra-light: lighten(@color-palette-main, 50%);
@grey-extra-light: lighten(@color-palette-main, 25%);
@grey-light: lighten(@color-palette-main, 15%);
@grey-medium: @color-palette-main;
@grey-dark: darken(@color-palette-main, 10%);
@grey-extra-dark: darken(@color-palette-main, 15%);
