body {
  background: #454545;
  color: white;
}
h1 {
  color: #fc0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerRotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spinnerRotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
.container {
  margin: 3em 1em 1em 1em;
}
div.color-picker {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.color-picker > .arrow {
  display: none;
}
.nav-link.active {
  transition: color 0.3s ease-in-out;
  border-bottom: solid 1px #454545 !important;
  background: #454545 !important;
  color: #fc0 !important;
}
.nav-tabs > li.nav-item > a.nav-link {
  border-radius: 5px 5px 0 0;
}
#accordion > .card {
  border: 0 !important;
  background: #454545 !important;
  margin: .25em;
}
#accordion > .card .card-header {
  border: #454545 solid 1px !important;
}
.card-header {
  padding: 0 !important;
}
.card-block {
  border: #454545 solid 1px !important;
  border-top: none !important;
  padding: 0 !important;
  margin: 0 37px 0 0 !important;
  background: #454545;
}
.collapse-button {
  background: white;
  color: darkgray;
  min-width: 36px;
}
.collapse-button i {
  margin-left: 95%;
}
input {
  outline-style: none !important;
  box-shadow: none !important;
  border: 0 none !important;
  -webkit-appearance: none !important;
}
.color-control-child:not(:last-child) input {
  border-bottom: #454545 1px solid !important;
}
.navbar-nav > li.nav-item > .nav-link.active {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
.list-group-item {
  background: #666;
}
.list-group-item.selected {
  border-right: #fc0 2px solid !important;
}
