@import 'colors';

body {
  background: #454545;
  color: white;
}

h1 {
  color: #fc0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

@-webkit-keyframes spinnerRotate
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinnerRotate
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}
.spin{
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
.spin-slow {
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

.container {
  margin: 3em 1em 1em 1em;
}

div.color-picker {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.color-picker > .arrow {
  display: none;
}

.nav.nav-tabs .nav-item {

}

.nav-link {
  color: @grey-super-extra-light;
  transition: color 0.3s ease-in-out;

  &:hover:not(.active) {
    border: transparent 1px solid !important;
    color: @color-primary-light;
  }

  &.active {
    border-bottom: solid 1px #454545 !important;
    background: #454545 !important;
    color: #fc0 !important;
  }
}

.nav-tabs > li.nav-item > a.nav-link {
  border-radius: 5px 5px 0 0;
}

@color-widget: @grey-medium;

#accordion > .card {
  border: 0 !important;
  background: @color-widget !important;

  margin: .25em;

  .card-header {
    border: @color-widget solid 1px !important;
  }
}

.card-header {
  padding: 0 !important;
}

.card-block {
  border: @color-widget solid 1px !important;
  border-top: none !important;
  padding: 0 !important;
  margin: 0 37px 0 0 !important;
  background: @color-widget;
}

.collapse-button {
  background: white;
  color: darkgray;
  min-width: 36px;

  i {
    margin-left: 95%;
  }
}

input {
  //outline-style: none !important;
  box-shadow: none !important;
  border: 0 none !important;
  -webkit-appearance: none !important;
}

.color-control-child {
  &:not(:last-child) {
    input {
      border-bottom: @color-widget 1px solid !important;
    }
  }
}

.navbar-nav > li.nav-item > .nav-link.active {
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
}

.list-group-item {
  background: @grey-light;
}

@card-bg: fade(@grey-dark, 50%);

.card {
  //padding: 1ex !important;
  background: @card-bg;


  .card-header {
    background: @card-bg !important;
  }

  .card-block {
    //margin: 1px !important;
    margin-right: 0 !important;
  }


  .card-footer {
    background: @card-bg !important;
  }
}


.input-group {
  border: @card-bg 1px solid;

  .input-group-addon {
    background: fade(@grey-dark, 50%);
    color: @grey-extra-light;
  }

  input[type=text] {
    margin: 1px !important;
    border: @card-bg 1px solid;
    background: @grey-light;
    color: @grey-super-extra-light;
  }
}

.btn {
  //border: @grey-dark 1px solid;
  border: @grey-medium 1px solid;

  &:hover, &:focus {
    outline: none !important;
    border: @grey-medium 1px solid;
  }

  &.btn-secondary {
    color: white !important;
    background: @grey-extra-light !important;
    opacity: 1;

    &:hover {
      background: @grey-super-extra-light !important;
    }
  }

  &.btn-primary {
    &:hover {
      background: @color-primary-light !important;
    }
  }
}

.modal-content {
  background: @grey-medium;

  .modal-header {
    border-bottom: @grey-light 1px solid;
  }
  .modal-footer {
    border-top: @grey-light 1px solid;
  }
}

code {
  background: transparent;
  color: @color-primary;
}
