body {
  background: #454545;
  color: white;
}
h1 {
  color: #fc0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerRotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spinnerRotate {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
.spin {
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
.spin-slow {
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
.container {
  margin: 3em 1em 1em 1em;
}
div.color-picker {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.color-picker > .arrow {
  display: none;
}
.nav-link {
  color: #c4c4c4;
  transition: color 0.3s ease-in-out;
  border: transparent 1px solid;
}
.nav-link:hover:not(.active) {
  color: #ffdb4d;
}
.nav-link.active {
  border-bottom: solid 1px #454545 !important;
  background: #454545 !important;
  color: #fc0 !important;
}
.nav-tabs > li.nav-item > a.nav-link {
  border-radius: 5px 5px 0 0;
}
.nav-tabs > li.nav-item > a.nav-link:hover {
  border: transparent 1px solid;
}
.nav-tabs > li.nav-item > a.nav-link.active {
  border: #c4c4c4 1px solid;
}
#accordion > .card {
  border: 0 !important;
  background: #454545 !important;
  margin: .25em;
}
#accordion > .card .card-header {
  border: #454545 solid 1px !important;
}
.card-header {
  padding: 0 !important;
}
.card-block {
  border: #454545 solid 1px !important;
  border-top: none !important;
  padding: 0 !important;
  margin: 0 37px 0 0 !important;
  background: #454545;
}
.collapse-button {
  background: white;
  color: darkgray;
  min-width: 36px;
}
.collapse-button i {
  margin-left: 95%;
}
input {
  box-shadow: none !important;
  border: 0 none !important;
  -webkit-appearance: none !important;
  border-radius: 0 !important;
}
.color-control-child:not(:last-child) input {
  border-bottom: #454545 1px solid !important;
}
.navbar.navbar-dark {
  background: #2b2b2b;
}
.navbar-nav > li.nav-item > .nav-link.active {
  background: rgba(0, 0, 0, 0) !important;
  border: transparent 1px solid !important;
  outline: none !important;
}
.list-group-item {
  background: #6b6b6b !important;
}
.card {
  background: rgba(43, 43, 43, 0.5);
  border-radius: 0 !important;
}
.card .card-header {
  background: rgba(43, 43, 43, 0.5) !important;
}
.card .card-block {
  margin-right: 0 !important;
}
.card .card-footer {
  background: rgba(43, 43, 43, 0.5) !important;
}
.input-group {
  border: rgba(43, 43, 43, 0.5) 1px solid;
}
.input-group .input-group-addon {
  background: rgba(43, 43, 43, 0.5);
  color: #858585;
  border-radius: 0 !important;
}
.input-group input[type=text] {
  margin: 1px !important;
  border: rgba(43, 43, 43, 0.5) 1px solid;
  background: #6b6b6b;
  color: #c4c4c4;
}
.btn {
  border: #454545 1px solid;
  border-radius: 0 !important;
}
.btn:hover,
.btn:focus {
  outline: none !important;
  border: #454545 1px solid;
}
.btn.btn-secondary {
  color: white !important;
  background: #858585 !important;
  opacity: 1;
}
.btn.btn-secondary:hover {
  background: #c4c4c4 !important;
}
.btn.btn-primary {
  background: #fc0;
}
.btn.btn-primary:hover {
  background: #ffdb4d !important;
}
.modal-content {
  background: #454545;
}
.modal-content .modal-header {
  border-bottom: #6b6b6b 1px solid;
}
.modal-content .modal-footer {
  border-top: #6b6b6b 1px solid;
}
code {
  background: transparent;
  color: #fc0;
}
